<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->
<a href="#contact"></a>  
	

  



<!-- map-->
<a href="#location"></a> 

<div class="section" id="location">
    <!-- container -->
    <div class="container">
    <!-- row -->
    <div class="row">
    <div class="col-md-12">
    <div class="card" id="iframe_map" style="display:block"  >
    
	<div class="card-title"><a name="location"></a>
	<i class="fa fa-map-marker" style="color:red;" ></i><h4 style="display:inline;">موقعیت فروشگاه</h4>
    </div>
	<div class="card-text"><p align="center">آدرس: هرات، اول چهار راهی باغ مراد</p></div>
    <div class="card-stats"  >
		
	<iframe style="display: table;margin-left: auto;margin-right: auto;" src="https://www.google.com/maps?q=%D9%87%D8%B1%D8%A7%D8%AA%D8%8C%20%D8%A7%D9%88%D9%84%20%DA%86%D9%87%D8%A7%D8%B1%20%D8%B1%D8%A7%D9%87%DB%8C%20%D8%A8%D8%A7%D8%BA%20%D9%85%D8%B1%D8%A7%D8%AF&output=embed" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
</div>
    </div>
    </div>
    </div>
    
    <!-- row-->
    </div>
    
    <!-- container-->
    </div>

<!-- /map-->
